<IfModule mod_rewrite.c>

	RewriteEngine On
	
	RewriteCond %{SCRIPT_FILENAME} !-d
	
	RewriteCond %{SCRIPT_FILENAME} !-f
	
	RewriteRule ^(.*)/(.*) index.php?controlador=$1&accion=$2
	
	ErrorDocument 404 http://localhost/TiendaPolerasPHP/Usuario/Error

</IfModule>